<div class="container">
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Nodejs</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">首页</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					大片
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">国外</a></li>
					<li><a href="#">国内</a></li>
					<li><a href="#">Jasper Report</a></li>
					<li class="divider"></li>
					<li><a href="#">星球大战</a></li>
					<li class="divider"></li>
					<li><a href="#">复仇者联盟4</a></li>
				</ul>
			</li>
			<li><a href="/admin/movie">后台添加</a></li>
			<li><a href="/admin/lists">后台列表</a></li>
		</ul>
	</div>
	</div>
</nav>
</div>